body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("https://1.bp.blogspot.com/-VmPseEWRssk/X4fNk4DZNiI/AAAAAAAAFAM/Njfr182v89svzUeIosCZMPszhjr45h4rQCLcBGAsYHQ/s320/Gambar6.jpg") no-repeat center center fixed;
  background-size: cover;
}

.container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 0;
  color: #007BFF;
}

p {
  font-size: 18px;
  color: #333;
  margin: 20px 0;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}
